<div class="top-article">
  <img src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="book" class="article-img">
  <div class="article-content"> 
  <%= link_to @max_article.Title, article_path(@max_article), class: "top-article-title" %>
  <p class="top-article-text"> <%= @max_article.Text %> </p>
  </div>
</div>

<div class="category-article">
  <div class="category-article-item">
    <img src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="book" class="category-article-img">
    <div class="category-article-content"> 
      <a class="category-article-title" href = "#"> This is title</a>
    </div>
    <div class="category-heading">
      <a href="#" class="category-heading-link"> Category </a>
    </div>
  </div>
</div>