<% if @max_article.nil? %>
<h1> Create first Article </h1>
<%else%>
<div class="top-article">
  <img src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="book" class="article-img">
  <div class="article-content"> 
  <%= link_to @max_article.Title, article_path(@max_article), class: "top-article-title" %>
  <p class="top-article-text"> <%= @max_article.Text %> </p>
  </div>
</div>

<div class="category-article">
<% @categories.each do |category| %>
  <% if category.articles.last %>
  <div class="category-article-item">
    <img src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="book" class="category-article-img">
    <div class="category-article-content"> 
       
      <%= link_to category.articles.last.Title, article_path(category.articles.last), class: "category-article-title"%>
      
    </div>
    <div class="category-heading">
      
      <%= link_to category.name, category_path(category), class: "category-heading-link"%>

    </div>
  </div>
  <%end%>
  <%end%>
</div>
<%end%>