/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar,
.navbar-left {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #f60;
  font-size: 24px;
}

a:hover {
  color: #f60;
}

.text-center {
  text-align: center;
}

.nav-logo {
  text-decoration: none;
  color: #4e443f;
  font-size: 36px;
}

.left-nav,
.right-nav {
  display: flex;
}

.left-nav {
  margin-left: 200px;
}

.active-nav {
  display: block;
}

.nav-link {
  text-decoration: none;
  color: gray;
  padding: 0 5px;
}

.active {
  color: #f60;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #4e443f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  color: white;
  font-size: 30px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-logo {
  color: white;
}

//form

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit],
.btn {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover,
.btn:hover {
  background-color: #45a049;
  color: white;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.d-flex {
  display: flex;
}

@media (max-width: 760px) {
  .footer {
    flex-direction: column;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar,
  .navbar-left {
    display: block;
  }

  .left-nav,
  .right-nav {
    margin-left: 0;
    display: none;
  }

  .active-nav {
    display: block;
  }

  .left-nav li,
  .right-nav li {
    text-align: center;
    margin: 15px auto;
  }
}
