// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-article {
  position: relative;
}
.article-img {
  width: 100%;
  height: 300px;
}

.article-content {
  position: absolute;
  bottom: 20%;
  left: 20px;
}

.top-article-title {
  color: #ff6600;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.top-article-text, .category-article-title {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.category-article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-article-item {
  width: 24%;
  position: relative;
}

.category-article-img {
  width: 100%;
  height: 200px;
}

.category-article-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.category-heading {
  position: absolute;
  top: 10px;
  left: 10px;
  
}

.category-heading-link {
  padding-bottom: 5px;
  text-decoration: none;
  box-shadow: inset 0px -3px 0px 0px rgba(245,233,14,1);
  color: white;
  font-weight: 800;
}

.article {
  width: 70%;
  margin: 0 auto;
}

// form

.category-list {
  margin: 10px 5px;
}